# Virtual envs
.venv/
venv/
env/
ENV/

# IDE / editors
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments & secrets
.env
.env.local
.env.*.local
secrets.yml
*.key

# Jupyter
.ipynb_checkpoints/

# Runtime/logs
logs/
reports/
*.log
*.zip

# OS
.DS_Store
Thumbs.db
